.THIS .scratch-org-container .table-container {
    max-width: 99%;
}
.THIS .scratch-org-container #scratch-org-list-table th .slds-truncate{
    text-align:center;
}
.THIS .scratch-org-container #scratch-org-list-table td .slds-truncate{
    font-size:11px;
    text-align:center;
    text-transform: none;
}

.THIS .scratch-org-container #scratch-org-list-table td .slds-icon--small {
    width: 0.8rem;
    height: 0.8rem;
}
.THIS .scratch-org-container #scratch-org-list-table td .slds-icon-action-remove {
    padding: .3rem;
}
.THIS .scratch-org-container #scratch-org-list-table td .slds-icon.slds-icon-text-default {
    width: 1.3rem;
    height: 1.3rem;
}