.THIS .slds-container_fluid {
    background-color: #fff;
    position:relative;
}

.THIS .slds-select.select.uiInput.uiInputSelect.uiInput--default.uiInput--select{
    background-image:none;
}

.THIS .slds-select_container{
    position:relative;
}
.THIS .slds-select_container>.uiInput--default.has-error.uiInputDefaultError{
    /*position:absolute;*/
}
.THIS .slds-table-all-credentials td .slds-truncate{
    font-size:11px;
}

.THIS  .slds-modal__close {
    top: -1.5rem;
    right: -1.5rem;
}
.THIS .slds-table-scroll{
    max-height: 250px;
    overflow-y: auto;
}