.THIS .home-container{
    max-width:500px;
    margin:auto;
}
 
.THIS .home-container .slds-button_brand-lg{
	width: 250px;
    height: 50px;
    font-size: 16px;
    margin: 100px auto;
    display: block; 
    line-height:45px;    
}
.THIS .home-container .dx-header{
    font-size: 2rem;
    text-align: center;
}
.THIS .home-container.slds-help-text{
    text-align:left;
}